/* 
    Document   : style
    Created on : May 23, 2012, 9:04:56 PM
    Author     : Kim Rostgaard Christensen
    Description:
        Monolithic stylesheet for everything!
*/

button{
  background: #e3e3e3;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px; }
  button:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; }
  button:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; }
button[disabled]
{
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #bbb;
  background-color: #eaeaea;
  cursor: pointer;
}

button[disabled]:hover
{
  color: #bbb;
}

#Status_Panel {
  position:absolute;
  right:0px;
  bottom:0px;
  z-index:20;
  min-height: 30px;
  background-color: #fcfcfc;
  border: 1px solid #b3b3b3;
  padding: 3px;
}

#Status_Panel .label {
  
}

#Call_List li {
  list-style-image: url('../img/call.png');
}


#Side_Right {
  float: left; width: 30%; height: 100%; background-color: #eaeaea; overflow:none;
}

#Status_Console {
  margin-bottom: 0px;
  text-align: left;
}

#Status_Console li {
  list-style: none;
}

#Websocket_Status {
  min-height: 30px;
  min-width: 30px;
  background-repeat: no-repeat;
  float: right;
}
.disconnected{
  min-height: 30px;
  min-width: 30px;
  background-image: url('../img/spinner.gif');
}

.connected{
  min-height: 30px;
  min-width: 30px;
  background-image: url('../img/connected.png');
}


.human {
  list-style-image: url('../img/human.png');
}

.function {
  list-style-image: url('../img/function.png');
}

.Tag {
  margin: 5px;
  float: right;
}

body{
  /*font: 100% "Trebuchet MS", sans-serif; */ 
  margin: 0px;
}

#Company_Information {
  min-height: 100px;
}

#contacts{
  display: none;
  margin-top: 30px;
  border: 1px solid #b3b3b3;    
}
#contacts li {
  border-bottom: 1px solid #2b81af;
  padding:5px;
}

.Contact_Entity {
  background-color: #fcfcfc;
}

.Contact_Entity.activeitem {
  background-color: #0073EA;
  font-weight: bold;
  color: white;
  padding:5px;
  margin: 0px;
}

.Contact_Entity {
    padding:5px; 
}


/* Lightbox */
.lightbox_bg {
  background:#ffffff none repeat scroll 0 0;
  display:none;
  height:800px;
  left:0;
  filter:alpha(opacity=50);
  opacity: 0.5;
  top:0;
  width:100%;
  z-index:50;
  display:none;
  position:fixed;
}

#Contact_Entity_View{
  background: whitesmoke;
  padding: 2%;
  min-width: 80%;
  min-height: 80%;
  font-weight: bold;
  position:absolute;
  left:10%;
  top:10%;
  z-index:51;
  border: 2px solid #6a6f75;
  border-radius: 1em;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);  
}

#Container{
  position:absolute;
  height: 100%;
  width: 100%;
  z-index:10;
  padding: 0%;  
}

#Greeting {
  text-align: center;
}

#tabs>ul>li {
  display: inline;
}

/* search form 
-------------------------------------- */
#search {
  text-align: center;
}

#search input[type="text"] {
  background: url(../img/search-dark.png) no-repeat 10px 6px #fcfcfc;
  border: 0 none;
  font: bold 2em Arial,Helvetica,Sans-serif;
  color: #6a6f75;
  min-width:80%;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}

#search input[type="text"]:focus {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
}