# Do not track build objects.
build_production/
build_debug/
*.ali
*.o

# Do not track built executables
exe/

# Do not track emacs temporary and backup files
\#*#
*~

# Do not track Nano temporary files
.#*#

# Do not track Vi(m) temporary files
.*.swp

# Do not track Jacobs merge script
test_and_push_to_master
