/* 
    Document   : cutoff
    Created on : 17-Sep-2012, 13:17:36
    Author     : Kim Rostgaard Christensen
    Description:
        Purpose of the stylesheet follows.
*/

.cut-off{
   position:relative;
   height:155px;
   width:200px;
   background:red;
}
.cut-off:after{
   position:absolute;
   bottom:0px; right:-20px;
   content:".";
   text-indent:-999px; overflow:hidden;
   display:block;
   width:0px; height:0px;
   border-top: 20px solid green;
   border-right: 20px solid transparent;
}
.cut-off:before{
   position:absolute;
   top:0; right:-20px;
   content:"#";
   text-indent:-999px; overflow:hidden;
   display:block;
   background:blue;
   width:20px; height:135px;
}

