* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: normal;
  padding: 10px 10px 10px 0px;
}

#root_view {
  position: absolute;
  width: calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  height: calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
}

.window {
  background-color: #fafafa;
  border: solid 1px #999;
  border-radius: 5px;
  overflow: auto;
}

.window_body {
  font-size: 1em;
  padding: 10px;
  overflow: auto;
}

.window_header {
  background-color: #ddd;
  border-radius: 5px 5px 0px 0px;
  color: #777;
  font-size: 1em;
  font-weight: bold;
  padding: 5px 10px;
}
