/* 
    Document   : style
    Created on : May 23, 2012, 9:04:56 PM
    Author     : Kim Rostgaard Christensen
    Description:
        Monolithic stylesheet for everything!
*/

.iconbutton {
  background-color: #ddd;
  display: inline;
  padding: 10px;
}

.iconbutton[disabled] {
  color:#414141;
  margin: 2px;
  background-color: #fff;
  display: inline;
}

.iconbutton:active {
  color:#0073EA;
  background-color: #fff;
  display: inline;
}



.button{
  background: #f6f6f6;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font-weight: bold; 
  line-height: 1;
  padding: 5px 0 6px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px;}
.button:hover {
  background: #d9d9d9;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
  box-shadow: inset 0 0 1px 1px #eaeaea;
  color: #222;
  cursor: pointer; }
.button:active {
  background: #d0d0d0;
  -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
  -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
  box-shadow: inset 0 0 1px 1px #e3e3e3;
  color: #000; }
.button[disabled]
{
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #bbb;
  background-color: #eaeaea;
  cursor: auto;
}

.button[disabled]:hover
{
  color: #bbb;
}

#Status_Panel {
  position:absolute;
  right:0px;
  bottom:0px;
  z-index:20;
  min-height: 30px;
  background-color: #fcfcfc;
  border: 1px solid #b3b3b3;
  padding: 3px;
  float: right;
}
#Status_Panel #PSJUA_Status {
  float: left;
  cursor: pointer;
}

#PJSUA_Control {
  position:absolute;
  right:0px;
  bottom:36px;
  z-index:21;
  min-height: 30px;
  background-color: #fcfcfc;
  border: 1px solid #b3b3b3;
  padding: 3px;
  float: right;
}

#Status_Panel #PJSUA_Get_State {
}

#Status_Panel #Websocket_Status {
  float: left;
}

#Status_Panel .label {

}

#Event_Panel {
}

#Call_List li {
  list-style-image: url('../img/call.png');
}

#Left_Panel {
  min-width: 20px;
  max-width: 50px;
  border-right: 1px solid #333;
  -webkit-box-shadow: 5px 0px 5px -2px #888 ;
  overflow: hidden;
  float: left;
  background-color: #D2E0E6;
}

#Side_Right {
  padding: 10px;
  float: right; 
  width: 30%; 
  background-color: #eaeaea; 
  overflow: auto;
}

#Status_Console {
  margin-bottom: 0px;
  text-align: left;
}

#Status_Console li {
  list-style: none;
}

#Websocket_Status {
  min-height: 30px;
  min-width: 30px;
  background-repeat: no-repeat;
  float: right;
}

.sip_connected{
  min-height: 32px;
  min-width: 32px;
  background-image: url('../img/phone_connected_30x30.png');
  background-repeat: no-repeat;
}

.statistics_icon{
  min-height: 32px;
  min-width: 32px;
  background-image: url('../img/statistics.png');
  background-repeat: no-repeat;
}

.events_icon{
  min-height: 32px;
  min-width: 32px;
  background-image: url('../img/chat.png');
  background-repeat: no-repeat;
}

.sip_disconnected{
  min-height: 32px;
  min-width: 32px;
  background-image: url('../img/phone_disconnected_30x30.png');
  background-repeat: no-repeat;
}

.disconnected{
  min-height: 32px;
  min-width: 32px;
  background-image: url('../img/spinner.gif');
  background-repeat: no-repeat;
}

.connected{
  min-height: 32px;
  min-width: 32px;
  background-image: url('../img/connected.png');
  background-repeat: none;

}


.human {
  list-style-image: url('../img/human.png');
}

.function {
  list-style-image: url('../img/function.png');
}

.Tag {
  margin: 5px;
  float: right;
}

body{
  /*font: 100% "Trebuchet MS", sans-serif; */ 
  margin: 0px;
}

#Company_Information {
  min-height: 100px;
}

#contacts{
  display: none;
  margin-top: 30px;
  border: 1px solid #b3b3b3;    
}
#contacts li {
  border-bottom: 1px solid #2b81af;
  padding:5px;
}

.Contact_Entity {
  background-color: #fcfcfc;
}

.Contact_Entity.activeitem {
  background-color: #0073EA;
  font-weight: bold;
  color: white;
  padding:5px;
  margin: 0px;
}

.Contact_Entity {
  padding:5px; 
}


/* Lightbox */
.lightbox_bg {
  background:#ffffff none repeat scroll 0 0;
  display:none;
  height:800px;
  left:0;
  filter:alpha(opacity=50);
  opacity: 0.5;
  top:0;
  width:100%;
  z-index:50;
  display:none;
  position:fixed;
}

#Contact_Entity_View{
  background: whitesmoke;
  padding: 2%;
  min-width: 80%;
  min-height: 80%;
  font-weight: bold;
  position:absolute;
  left:10%;
  top:10%;
  z-index:51;
  border: 2px solid #6a6f75;
  border-radius: 1em;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);  
}

#Container{
  position:absolute;
  height: 100%;
  width: 100%;
  z-index:10;
  padding: 0%;  
}

#Greeting {
  text-align: center;
}

#tabs>ul>li {
  display: inline;
}

/* search form 
-------------------------------------- */
#search {
  text-align: center;
}

#search input[type="text"] {
  width: 286px;
  height: 19px;
  padding: 2px 5px;
  color: #333;
  background: #fff;
  border: 1px solid #aaa;
  line-height: 1;
  font-size: 1.3em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}

#jq-searchGoButton {
  background: url(../img/icon_searchglass.png) 0 0 no-repeat;
  background-image: url(../img/icon_searchglass.png);
  position: relative;
  width: 35px;
  height: 35px;
  left: -20px;
  top: 10px;
  border: 0;
  cursor: pointer;
  font-size: 1.1em;
}
#jq-searchGoButton>span {
  position: absolute;
  left: -9999999px;
}
#jq-searchGoButton:hover {
  background-position: 0 -36px;
}
  

#search input[type="text"]:focus {
  border: 1px solid #3d3d3d;
  outline: 0;
}